/* ==========================================================================================
    设计规范
============================================================================================= */
$namespace: 'el-' !default;
$state-prefix: "is-" !default;

//font
$font-size: 16px;

//主题色蓝黑
$color: #26252D;
$blackColor: #44434F;
$white: #FFFFFF;
$activeColor: #A0A5C0;

//警告色
$errorColor: #f43874;
// 基础色
$baseColor: rgba(45, 55, 72, 1);
//白色
$whiteColor: #ffffff;
//灰色
$auxBlueColor: #A0A5C0;

body {
    --color: #26252D;
    --color-reverse: #FFFFFF;
    --font-family: "Source Sans Pro", sans-serif, "PingFang SC", "SourceHanSansCN-Normal", "Hiragino Sans GB", "noto sans", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
    --font-color: #A0A5C0;
    --danger-color: #F43874;
    --success-color: #75D29C;
    --page-background: #F4F5F7;
    --page-padding: 30px;
}